services:
  worker:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./ianorth-api/Dockerfile.worker
    deploy:
      resources:
        reservations:
          devices: [{ driver: nvidia, count: all, capabilities: [gpu] }]
    environment:
      - REDIS_HOST=redis
      - DATABASE_URL=postgresql://ianorth:supersecret@db:5432/ianorth_lotes
      - OPENCV_FFMPEG_CAPTURE_OPTIONS=rtsp_transport;tcp

  gateway:
    platform: linux/amd64
    environment:
      - REDIS_HOST=redis
      - DATABASE_URL=postgresql://ianorth:supersecret@db:5432/ianorth_lotes
