# docker-compose.prod.yml (Overrides for Production)
services:
  worker:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./ianorth-api/Dockerfile.worker
    environment:
      OPENCV_FFMPEG_CAPTURE_OPTIONS: rtsp_transport;tcp  
    deploy:
      resources:
        reservations:
          devices: [{ driver: nvidia, count: all, capabilities: [gpu] }]
